{% extends 'base.html' %}

{% load static %}

{% block title %}About - ecommerce{% endblock %}

{% block about %}active-menu{% endblock %}

{% block body %}

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'webapp1/' %}images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>
						<p class="stext-113 cl6 p-b-26">
						Time is a precious gift, and what better way to celebrate life's moments than with a watch that reflects your style and sophistication? As timekeepers, we understand the importance of finding the perfect watch, and we're here to ensure your every moment is adorned with elegance.
						</p>
						<p class="stext-113 cl6 p-b-26">
						With special occasions on the horizon, why not treat yourself or a loved one to a timeless piece from our collection? As we approach significant events like weddings, anniversaries, or birthdays, a carefully chosen watch makes for a meaningful and lasting gift.
												</p>
						<p class="stext-113 cl6 p-b-26">
						Explore our curated selection, featuring a variety of styles and brands to suit every taste. Whether you prefer classic designs, modern minimalism, or the latest trends, we have the perfect watch waiting for you. From prestigious names in watchmaking to stylish and affordable options, our collection caters to diverse preferences.
												</p>
						<p class="stext-113 cl6 p-b-26">
						For those seeking a touch of luxury, our range includes exquisite watches crafted with precision and attention to detail. Elevate your style with a watch that not only keeps time but becomes a statement accessory, enhancing your overall look.
												</p>
						<p class="stext-113 cl6 p-b-26">
						Our Fast Track delivery service ensures that your chosen timepiece arrives promptly, even if you're making a last-minute decision. We understand the excitement of receiving a new watch and want to make the experience as seamless as possible.
												</p>
						<p class="stext-113 cl6 p-b-26">
						And because we believe in celebrating every moment, we offer personalized engraving options to make your watch truly unique. Whether it's a special date, initials, or a heartfelt message, engraving adds a sentimental touch to your timepiece.
												</p>
						<p class="stext-113 cl6 p-b-26">
						Make your moments count with a watch that transcends time, elegance that endures, and a service that caters to your needs. Browse our collection today, and let us be a part of your timeless celebrations.
						</p>

					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'webapp1/' %}images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>
						<p class="stext-113 cl6 p-b-26">
						 our mission goes beyond selling timepieces. We aspire to curate an experience that transcends the ticking hands of a clock—a celebration of moments, a reflection of style, and an embodiment of lasting memories.
						</p>
						<p class="stext-113 cl6 p-b-26">

						1. Timeless Elegance:
						We believe in the power of timeless elegance. Our mission is to offer a meticulously curated collection of watches that not only tell time but also tell a story. Each piece in our selection is a testament to craftsmanship, sophistication, and enduring style.
						</p>
						<p class="stext-113 cl6 p-b-26">

						2. Personalized Experiences:
						We understand that every individual is unique, and so are their moments. Our mission is to provide a personalized shopping experience, allowing you to find a watch that resonates with your personality and becomes a cherished part of your journey.
						</p>
						<p class="stext-113 cl6 p-b-26">

						3. Accessibility and Affordability:
						Timeless elegance should be accessible to everyone. Our mission is to make high-quality watches available at a range of price points, ensuring that you can find the perfect timepiece without compromising on quality or style.
						</p>
						<p class="stext-113 cl6 p-b-26">

						4. Fast, Reliable Service:
						We recognize the importance of timely celebrations. Our mission is to deliver not just watches but moments, with our Fast Track delivery service. Your chosen timepiece will arrive promptly, making your celebrations all the more special.
						</p>
						<p class="stext-113 cl6 p-b-26">

						5. Ethical and Sustainable Practices:
						As stewards of time, we are committed to ethical and sustainable practices. Our mission is to contribute to a better world by ensuring that our watches are sourced and crafted with integrity, taking steps towards a more sustainable future.
						</p>
						<p class="stext-113 cl6 p-b-26">

						6. Community and Connection:
						Beyond the business of selling watches, our mission is to foster a community bound by a shared appreciation for craftsmanship and style. We strive to create connections that go beyond the transaction, building relationships that last a lifetime.
						</p>
						<p class="stext-113 cl6 p-b-26">

						Join us on this journey where every tick of the clock is a celebration, and every watch holds the promise of a cherished memory. At my shop, time is not just measured; it's embraced.
						</p>

					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'webapp1/' %}images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


{% endblock %}