{% extends 'base.html' %}

{% load static %}

{% block title %}Blog - ecommerce{% endblock %}

{% block blog %}active-menu{% endblock %}

{% block body %}



<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'webapp1/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
	<!-- Header -->

	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'webapp1/images/bg-02.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			Blog
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!-- item blog -->
						<div class="p-b-63">
							<a href="blog-detail.html" class="hov-img0 how-pos5-parent">
								<img src="{% static 'webapp1/images/blog-04.jpg' %}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										22
									</span>

									<span class="stext-109 cl3 txt-center">
										Jan 2018
									</span>
								</div>
							</a>

							<div class="p-t-32">
<!--								<h4 class="p-b-15">-->
<!--									<a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">-->
<!--										8 Inspiring Ways to Wear Dresses in the Winter-->
<!--									</a>-->
<!--								</h4>-->

								<p class="stext-117 cl6">
									While it’s been a quiet year for the fashion world, this season has unveiled seriously bold and stylish designs. Large and in-charge blazers, bold blue bags, and sleek face masks dominated Fashion Weeks over the last few weeks. This year, some of the most influential decades have played a huge role in this season’s looks. We’re loving every single one of them, and you can see why. From Paris to Milan, find serious style inspiration with the top fashion trends spotted at SS21 Fashion Weeks.
								</p>
								<br>
								<br>

								<p class="stext-117 cl6">Create a long line silhouette and play with shapes with an 80s-inspired oversized boyfriend blazer. With the help of shoulder pads, this outerwear cinches in your waist and elongates your legs. Rock this look with a pair of straight-leg trousers or leather shorts for an ultra-modern style – colors that suit this trend are powder blue, charcoal, and neutrals. You can easily dress this up or down for an effortlessly chic aesthetic.</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span> Admin  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											StreetStyle, Fashion, Couple  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											8 Comments
										</span>
									</span>

<!--									<a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">-->
<!--										Continue Reading-->

<!--										<i class="fa fa-long-arrow-right m-l-9"></i>-->
<!--									</a>-->
								</div>
							</div>
						</div>

						<!-- item blog -->
						<div class="p-b-63">
							<a href="blog-detail.html" class="hov-img0 how-pos5-parent">
								<img src="{% static 'webapp1/images/blog-05.jpg' %}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										18
									</span>

									<span class="stext-109 cl3 txt-center">
										Jan 2018
									</span>
								</div>
							</a>

							<div class="p-t-32">
<!--								<h4 class="p-b-15">-->
<!--									<a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">-->
<!--										The Great Big List of Men’s Gifts for the Holidays -->
<!--									</a>-->
<!--								</h4>-->

								<p class="stext-117 cl6 mb-5">
									When it comes to protecting yourself, you may as well do it beautifully. These sleek black face masks match almost any outfit you wear, and they offer great coverage for your nose and mouth. Opt for a silky fabric for easier breathing or choose something with embellishments if you’re feeling fancy. The beauty behind this face-covering is the limitless styling opportunities that come along with it. Wear anything from a red trench coat to a color-blocking suit and look exceptionally stylish. From an accordion-style to a traditional shape, there are so many choices that will keep you and others safe.
								</p>


								<p class="stext-117 cl6">aking inspiration from the 50s and the 60s, this sleek fashion trend is coming back in a big way. Headscarves protect your hair and add a finishing touch to your outfit without overdoing it. Choose from a silky design with floral motifs or intricate patterns, or keep it simple with bold colors and block letters. When styling this accessory, you can wrap the fabric under your chin in a loose knot, or have it hanging off the back of your head – mix things up by wrapping it around your neck or let it dangle from your bag. Channeling your inner Grace Kelly has never been easier with this classic go-to item.</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span> Admin  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											StreetStyle, Fashion, Couple  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											8 Comments
										</span>
									</span>

<!--									<a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">-->
<!--										Continue Reading-->

<!--										<i class="fa fa-long-arrow-right m-l-9"></i>-->
<!--									</a>-->
								</div>
							</div>
						</div>

						<!-- item blog -->
						<div class="p-b-63">
							<a href="blog-detail.html" class="hov-img0 how-pos5-parent">
								<img src="{% static 'webapp1/images/blog-06.jpg' %}" alt="IMG-BLOG">

								<div class="flex-col-c-m size-123 bg9 how-pos5">
									<span class="ltext-107 cl2 txt-center">
										16
									</span>

									<span class="stext-109 cl3 txt-center">
										Jan 2018
									</span>
								</div>
							</a>

							<div class="p-t-32">
<!--								<h4 class="p-b-15">-->
<!--									<a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">-->
<!--										5 Winter-to-Spring Fashion Trends to Try Now-->
<!--									</a>-->
<!--								</h4>-->

								<p class="stext-117 cl6">
									Another trend that has continued to dominate this year has been pastel tones. These sorbet-inspired colors are the perfect option for summer and they suit a wide variety of skin tones. Choose from a boiler suit in cool mint green or an oversized trench coat in soft lavender – better yet, try them both simultaneously. Suits and separates in the soft and buttery hues elevate your overall aesthetic and will remain one of the chicest styles for seasons to come.
								</p>

								<div class="flex-w flex-sb-m p-t-18">
									<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
										<span>
											<span class="cl4">By</span> Admin  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											StreetStyle, Fashion, Couple  
											<span class="cl12 m-l-4 m-r-6">|</span>
										</span>

										<span>
											8 Comments
										</span>
									</span>

<!--									<a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">-->
<!--										Continue Reading-->

<!--										<i class="fa fa-long-arrow-right m-l-9"></i>-->
<!--									</a>-->
								</div>
							</div>
						</div>

						<!-- Pagination -->
						<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
							<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
								1
							</a>

							<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
								2
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="bor17 of-hidden pos-relative">
							<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search">

							<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
						</div>

						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								Categories
							</h4>

							<ul>
								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Fashion
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Beauty
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Street Style
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Life Style
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										DIY & Crafts
									</a>
								</li>
							</ul>
						</div>



						<div class="p-t-50">
							<h4 class="mtext-112 cl2 p-b-27">
								Tags
							</h4>

							<div class="flex-w m-r--5">
								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
		

	<!-- Footer -->



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="{% static 'webapp1/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'webapp1/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static 'webapp1/js/main.js' %}"></script>

</body>


{% endblock %}